<section class="hero">
  <div class="container">
    <div class="hero-content">
      <small class="heading-tag">Architecture & Design</small>
      <h1>Exclusive Travel, Designed with You in Mind</h1>
      <div class="hero-actions">
        <a href="#" class="hero-btn">View Projects <span class="material-icons">east</span></a>
      </div>
      
      <div class="hero-badge">
        <div class="badge-content">
          <small>Get Discounts up to 20%</small>
          <img src="/luxury_exterior_2_1774276449034.png" alt="Promo">
        </div>
      </div>
    </div>
  </div>
</section>
